<section class="container">
  <div class="contact-us">
    <div class="contact__info">
      <div class="icon-holder">
        <span class="icon-holder__text">info@niloo.ir</span>
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
          </svg>
        </span>
      </div>

      <div class="icon-holder">
        <span class="icon-holder__text">iran-qom</span>
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
          </svg>
        </span>
      </div>

      <div class="icon-holder">
        <span class="icon-holder__text">+989300822695</span>
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="/assets/images/svg-sprite.svg#Calling"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="contact__map">
      <img src="/assets/images/map.png" alt="" />
    </div>
    <div class="contact__social">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
        </svg>
      </span>
    </div>
    <div class="contact__form">
      <div class="form-wrapper">
        <h3>نظرات شما</h3>
        <form action="">
          <input type="text" placeholder="نام و نام خانوادگی" />
          <input
            type="email"
            placeholder="ایمیل خود را وارد کنید"
            dir="ltr"
          />
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button class="btn btn--primary" type="submit">ثبت نظر</button>
        </form>
      </div>
    </div>
  </div>
</section>