<section class="container feature">
  <div class="feature__image">
    <img src="/assets/images/i-mac-1.png" alt="" />
  </div>
  <div class="detail">
    <h2 class="feature__title">خدمات تپسی برای کسب و کارها</h2>
    <p class="feature__text">
      پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم زمان
      تعداد نامحدودی خودرو و پیک را برای کسب و کارها و سازمان ها فراهم میکند و
      با استفاده از آن میتوانید ماموریت های درون شهری و ارسال کالاهای خود را به
      سادگی مدیریت کنید
    </p>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
