<footer class="main-footer">
  <div class="container footer">
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="">فرصت شغلی</a>
      <a href=""> وبلاگ . تپسی</a>
      <a href="">تماس با ما</a>
      <a href=""> لوگو هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="">فرصت شغلی</a>
      <a href=""> وبلاگ . تپسی</a>
      <a href="">تماس با ما</a>
      <a href=""> لوگو هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="">فرصت شغلی</a>
      <a href=""> وبلاگ . تپسی</a>
      <a href="">تماس با ما</a>
      <a href=""> لوگو هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="">فرصت شغلی</a>
      <a href=""> وبلاگ . تپسی</a>
      <a href="">تماس با ما</a>
      <a href=""> لوگو هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="">فرصت شغلی</a>
      <a href=""> وبلاگ . تپسی</a>
      <a href="">تماس با ما</a>
      <a href=""> لوگو هویت سازمانی</a>
    </div>
    <div class="footer__item enemad">
      <div class="footer__enemad">
        <img src="assets/images/enemad.png" alt="" />
      </div>
      <div class="footer__enemad">
        <img src="assets/images/enemad.png" alt="" />
      </div>
      <div class="footer__enemad">
        <img src="assets/images/enemad.png" alt="" />
      </div>
    </div>
  </div>
</footer>
